body{
    width: 1000px;
    margin: auto;
    border: black solid 1px;
}
header{
    color: black;
    height: 100px;
    font-size: 50px;
}
#headerunderline{
    color:rgb(246, 255, 0);
    height: 10px;
}
#container{
    display: flex;
    flex-direction: column;
}
#left{
    width: 100px;
}
#content{
    width: 800px;
}
#right{
    width: 100px;
}