body{
    width: 1000px;
    margin: auto;
    border: black solid 1px;
}
header{
    background-color: black;
    height: 100px;
    font-size: 50px;
}
#headerunderline{
    background-color:rgb(246, 255, 0);
    height: 10px;
}
#container{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    height: 900px;
}
#left{
    width: 100px;
    border-right: black solid 1px;
}
#content{
    width: 800px;
}
#right{
    width: 100px;
    border-left: black solid 1px;
}
footer{
    height: 100px;
    background-color: gray;
}