a{
    color:black;
}
body{
    
    width: 1000px;
    margin: auto;
    border: black solid 1px;
    color: white;
    
    min-height: 1110px;
}
header{
    background-color: black;
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
#headerunderline{
    background-color:rgb(246, 255, 0);
    height: 10px;
}
#container{
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    min-height: 900px;
    margin-bottom: 0;
}
#left{
    width: 200px;
    border-right: black solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 900px;
    color: black; 
    flex-direction: column;
}
.topics{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
#content{
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-self: center;
    color: black; 
    flex-direction: column;
}
#contentb{
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-self: center;
    color: black; 
    flex-direction: column;
}
#right{
    width: 200px;
    border-left: black solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 900px;
    display: flex;
    justify-self: flex-end;
    justify-content: flex-start;
    color: black; 
    flex-direction: column;
}
footer{
    height: 100px;
    background-color: gray;
}
.navs{
    background-color: rgb(63, 62, 62);
    color: white;
    width: auto;
}
.spa{
    text-decoration: none;
    color: white;
}
.code{
    background-color: rgb(171, 171, 171);
    border-radius: 10px;
    line-height: 23px;
}
.bold{
    font-weight: bold;
}
